// Colors
$primary-color: #b44041; // الأحمر الداكن
$secondary-color: #0c6776; // الأزرق المخضر
$light-bg: #f9f9f9;
$dark-text: #333;
$muted-text: #666;

// Fonts
$font-noor: 'Noor Regular', sans-serif;
$font-agency: 'Agency FB Bold', sans-serif;
$font-main: 'Noor Regular', sans-serif;
